/* Write your CSS here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  height: 100vh;
}

@media (min-width: 768px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    background-size: cover;
  }
}
.ipl-logo-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: 'Bree Serif';
}
.ipl-logo {
  width: 30px;
  height: 50px;
  margin-right: 10px;
}
.teams-list-container {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -20px;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}